/* Override this file to customise the theme's CSS for your site */
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0px;
}
.page {
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    grid-auto-rows: min-content auto min-content;
}
.page__footer {
    margin-top: 0;
    margin-bottom: 10px;
    z-index: 0;
}
.page__header {
    z-index: 0;
}
.page__body {
    background-color: #3c3836a4;
    z-index: 0;
}
.page__body p {
    margin-left: 1vw;
    margin-top: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
}
.page__body ul, .page__body ol {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.page__body h1, .page__body h2, .page__body h3, .page__body h4, .page__body h5 {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.page__aside {
   z-index: 0;
}
.page__body li p {
    margin-left: 0;
    margin-right: 0;
}

.page__body pre {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.slider {
    -webkit-appearance: none; 
    width: 100%; 
    height: 0.5rem;
    border-radius: 5px;
    background: var(--inner-bg);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-sizing: border-box;
}

.slider::-moz-range-thumb {
    background: var(--fg);
    border-color: var(--fg);
}
.slider::-webkit-slider-thumb {
    background: var(--fg);
    border-color: var(--fg);
}
.slider::-ms-thumb {
    background: var(--fg);
    border-color: var(--fg);
}

.checkbox input {
    height: 0;
    width: 0;
    opacity: 0;
    margin: 0;
    border: 0;
}

.checkbox .checkmark {
    display: inline-block;
    position: relative;
    top: 0.125rem;
    border-radius: 5px;
    padding: 0.5rem;
    line-height: 0;
    background: var(--inner-bg);
}

.checkbox {
    display: block;
    margin: 1vw;
    position: relative;
    cursor: pointer;
}

.checkbox input:checked ~ .checkmark {
    background: var(--base0B);
}

.MathJax_Display {
    overflow: scroll;
}
